.ld-card {
        width: 200px;
        height: 200px;
        background-color: beige;


        > .title {
          color: cadetblue;
        }
        > .box {
          width: 50px;
          height: 50px;
          background-color: aquamarine;
        }
}


.ld-button {
        border: 1px solid black;
        padding: 10px 20px;
        background-color: white;
        border-radius: 3px;

        &.-danger {
          color: red;
          border-color: red;
        }
        &.-warning {
          color: rgb(209, 209, 28);
          border-color: rgb(209, 209, 28);
        }
}

