
.ld-radio{
    position: relative;
    padding-left: 32px;
    padding-top: 2px;
    cursor: pointer;
    font-size: calc(var(--ld-font-size-base) + 8px);
    font-family: var(--ld-font-family-base);
}

.ld-radio > input{
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.ld-radio>.checkmark{
    height: 22px;
    width: 22px;
    display: inline-block;
    border-radius: 50%;
    border: 2px var(--ld-color-gray-dark) solid;
    position: absolute;
    top: 0;
    left: 0;
}

.ld-radio > input:checked ~ .checkmark{
    background-color: white;
    border-color: var(--ld-color-primary);
}

.ld-radio>.checkmark::after{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    content: "";
    top: 3px;
    left: 3px;
    background-color: var(--ld-color-primary);
}

.ld-radio>input:checked ~ .checkmark::after{
    display: block;
}